body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  // background-color: #d5e5f2;
  h2{
    color: #bf5e8b;
    font-size: 3vw; 
  }
  h3{
    // color: #f2edd0;
    color: #d9b97e;
    font-size: 2vw;
  }
}