Nav{
    padding-right: 4vw;
    padding-block: 1vw;
    ul{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        li{
            list-style: none;
            padding-right: 2vw;
            a{
            text-decoration: none;
            color: black;
            font-size: 2vw;
            &:hover{
                color:#d5e5f2 ;
            }
            }
        }

    }
}